.about {
    padding: 80px 0;
    background-color: #777;
    color: #fff;

    .about-content {
        text-align: center;

        .about-catch {
            font-size: 24px;
        }

        .about-title {
            margin-top: 8px;
            font-size: 40px;
        }
    }

}