body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

// * {
//     outline: 1px solid red;
// }