.experience {
    padding: 80px 0;
    margin-top: 80px;

    width: 90%;
    margin-left: auto;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border: 1px solid #000;

    .experience-title {
        text-align: center;
    }

    .experience-intro {
        margin-top: 40px;
        text-align: center;
    }

    .activity {
        margin-top: 40px;

        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            &::before,
            &::after {
                content: "";
                width: 24px;
                height: 1px;
                background-color: #000;
            }
        }

        .activity-list {
            margin-top: 48px;

            .activity-card {
                border: 1px solid;
                width: 80%;
                max-width: 640px;
                margin: 0 auto;
                // aspect-ratio: 8 / 5;

                .activity-card_img {
                    width: 100%;
                    aspect-ratio: 8 / 5;
                    background-color: #ddd;
                }

                .activity-card_body {}
            }
        }

        .activity_slider {
            margin-top: 48px;
 
            width: 100vw;
            margin-left: -10vw;
            overflow: hidden;

            .activity_track {
                display: flex;
            }

            .activity_item {
                flex-shrink: 0;
                width: 240px;
                height: 180px;
                background-color: #ddd;
                border: 1px solid #000;
            }
        }
    }
}